$euiColorAccent: #ffa912;

body {
  width: 400px;
  height: 600px;
  margin: 0 auto !important;
}

@media only screen and (max-width: 400px) {
  body {
    width: 100%;
  }
}

textarea {
  outline: none !important;
}

@import "@elastic/eui/src/themes/amsterdam/theme_light";
